
  @font-face {
    /* 重命名字体名 */
    font-family: '优设标题黑';
    /* 引入字体 */
    src: url('./优设标题黑.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    /* 重命名字体名 */
    font-family: 'DIN-Bold';
    /* 引入字体 */
    src: url('./din-bold-2.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    /* 重命名字体名 */
    font-family: 'PingFangSC-Regular';
    /* 引入字体 */
    src: url('./PingFang SC Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    /* 重命名字体名 */
    font-family: 'PingFangSC-Medium';
    /* 引入字体 */
    src: url('./PingFang Medium.ttf');
    font-weight: normal;
    font-style: normal;
  }